<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for (student of students){ %>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"><b>NAME : <%= student.first_name %> <%= student.last_name %></b></div>
        <div class="card-body text-dark">
          <h5 class="card-title">REGISTRATION NUMBER : <%= student.reg_no %></h5>
          <p class="card-text">CLASS: <%= student.class %> </p>
          <p class="card-text">AGE: <%= student.age %> </p>
        </div>
      </div>
    <% } %>
</body>
</html>